.topnav{
    background-color: #888888ad;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 14px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: rgb(0, 8, 8);
}
.topnav a.active {
    background-color:#629766;
    color: rgb(255, 255, 255);
}

body {
    background-image: url(images/Green-Abstract-Webpage-Background-Graphics-3073334-1.jpg);
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.header-section {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    background: rgba(0, 0, 0, 0.582);
}

.projects-section {
    padding: 20px;
}

.project {
    background: rgba(0, 0, 0, 0.582);
    margin-bottom: 20px;
    padding: 20px;
}