.topnav{
    background-color: #000000;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color:#043a26;
    color: white;
}

body {
    background-image: url(images/Green-Abstract-Webpage-Background-Graphics-3073334-1.jpg);
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

.header-section {
    text-align: center;
    color: white;
    padding: 40px 20px;
    background: rgba(0,0,0,0.5);
}
